In [23]:
import numpy as np
import pandas as pd
from datetime import datetime, time

In [24]:
new_df = pd.read_csv('processed_tables/2_parsed.csv', index_col='Unnamed: 0')
new_df

,Unnamed: 0.1,Content,Start_content,Relative_Id,Type,Row,Column,Length,Vertically_merged,Horizontally_merged,Font_selection,Top_border,Bottom_border,Left_border,Right_border,Color,Font_color,Is_Formula,cluster_name
Unnamed: 0,,,,,,,,,,,,,,,,,,,
0,0,NaN,NaN,1,NoneType,14,2,0,False,False,False,False,False,False,False,['00000000'],1,False,normal_empty
1,1,NaN,NaN,2,NoneType,14,3,0,False,False,False,False,False,False,False,['00000000'],1,False,normal_empty
2,2,План на сл. месяц,План на сл. месяц,3,str,14,4,17,True,False,True,True,False,True,False,[8],0,False,header
3,3,Вид работ,Вид работ,4,str,14,5,9,True,False,True,True,True,True,True,[8],0,False,header
4,4,Ед. изм.,Ед. изм.,5,str,14,6,8,True,False,True,True,True,True,True,[8],0,False,header
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5533,5533,0,0,4849,int,84,75,0,False,False,False,True,False,True,True,['FFFFFFFF'],0,False,NaN
5534,5534,0,0,4850,int,84,76,0,False,False,False,True,False,True,True,['FFFFFFFF'],0,False,NaN
5535,5535,0,0,4851,int,84,77,0,False,False,False,True,False,True,True,['FFFFFFFF'],0,False,NaN
5536,5536,0,0,4852,int,84,78,0,False,False,False,True,False,True,True,['FFFFFFFF'],0,False,NaN
5537,5537,0,0,4853,int,84,79,0,False,False,False,True,False,True,True,['FFFFFFFF'],0,False,NaN

In [25]:
ndf = pd.DataFrame()
ndf['Row'] = new_df['Row']
ndf['Column'] = new_df['Column']
ndf['Color'] = new_df['Color']
ndf['Vertically_merged'] = new_df['Vertically_merged']
ndf['Horizontally_merged'] = new_df['Horizontally_merged']
ndf['Font_selection'] = new_df['Font_selection']
ndf['Is_Formula'] = new_df['Is_Formula']
ndf['Type'] = new_df['Type']
ndf['Font_color'] = new_df['Font_color']

In [26]:
r = ndf['Row'].iloc[0]
c = ndf['Column'].iloc[0]
ndf['Row'] -= r
ndf['Column'] -= c

In [27]:
ndf["Color"] = pd.factorize(ndf["Color"])[0]
ndf["Type"] = pd.factorize(ndf["Type"])[0]
ndf["Font_color"] = pd.factorize(ndf["Font_color"])[0]
ndf.reset_index(drop= True , inplace= True )
# cont = []
# for i in ndf['Start_content']:
#     a = type(i)
#     if isinstance(i, str) or isinstance(i, datetime) or isinstance(i, time):
#         cont.append(hash(i))
#     else:
#         cont.append(i)
# ndf['Start_content'] = cont
ndf

,Row,Column,Color,Vertically_merged,Horizontally_merged,Font_selection,Is_Formula,Type,Font_color
0,0,0,0,False,False,False,False,0,0
1,0,1,0,False,False,False,False,0,0
2,0,2,1,True,False,True,False,1,1
3,0,3,1,True,False,True,False,1,1
4,0,4,1,True,False,True,False,1,1
...,...,...,...,...,...,...,...,...,...
5533,70,73,7,False,False,False,False,2,1
5534,70,74,7,False,False,False,False,2,1
5535,70,75,7,False,False,False,False,2,1
5536,70,76,7,False,False,False,False,2,1
5537,70,77,7,False,False,False,False,2,1

In [28]:
arr = np.empty((ndf.tail(1)['Row'].iloc[0]+1, ndf.tail(1)['Column'].iloc[0]+1), dtype="object")

In [29]:
for i, row in ndf.iterrows():
    arr[row['Row'], row['Column']] = row.values.tolist()

In [30]:
mass = []
for i in range(len(arr)):
    a = []
    for j in range(len(arr[i])):
        a.extend(arr[i][j])
    mass.append(a)

In [31]:
df = pd.DataFrame(data=mass)
df = df.fillna(0)

In [32]:
df

,0,1,2,3,4,5,6,7,8,9,...,692,693,694,695,696,697,698,699,700,701
0,0,0,0,False,False,False,False,0,0,0,...,0,0,77,0,True,True,False,False,0,0
1,1,0,0,False,False,False,False,0,0,1,...,0,1,77,0,True,True,False,False,0,0
2,2,0,0,False,False,False,False,0,0,2,...,0,2,77,0,True,True,False,False,0,0
3,3,0,0,False,False,False,False,0,0,3,...,0,3,77,0,False,False,False,False,0,0
4,4,0,3,False,False,False,False,1,0,4,...,0,4,77,0,False,False,False,False,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,66,0,9,False,False,True,False,0,0,66,...,2,66,77,9,False,False,False,False,0,2
67,67,0,3,False,False,False,False,0,0,67,...,0,67,77,3,False,False,False,False,2,0
68,68,0,3,False,False,False,False,0,0,68,...,1,68,77,7,False,False,False,False,2,1
69,69,0,3,False,False,False,False,0,0,69,...,0,69,77,3,False,False,False,False,2,0
70,70,0,3,False,False,False,False,0,0,70,...,1,70,77,7,False,False,False,False,2,1

In [33]:
from sklearn.cluster import AgglomerativeClustering, DBSCAN, OPTICS, KMeans, SpectralClustering

In [34]:
df = df[df[0] > 5]
dbs = DBSCAN().fit(df)
df['labels'] = dbs.labels_
first_part_list = df['labels']
df

C:\Users\user\AppData\Local\Temp\ipykernel_9612\3866215178.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['labels'] = dbs.labels_

,0,1,2,3,4,5,6,7,8,9,...,693,694,695,696,697,698,699,700,701,labels
6,6,0,4,False,False,False,False,0,0,6,...,6,77,3,False,False,False,False,2,0,-1
7,7,0,0,False,False,False,False,0,0,7,...,7,77,7,False,False,False,False,0,1,-1
8,8,0,4,False,False,False,False,0,0,8,...,8,77,3,False,False,False,False,2,0,-1
9,9,0,0,False,False,False,False,0,0,9,...,9,77,7,False,False,False,False,0,1,-1
10,10,0,4,False,False,False,False,0,0,10,...,10,77,3,False,False,False,False,2,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,66,0,9,False,False,True,False,0,0,66,...,66,77,9,False,False,False,False,0,2,-1
67,67,0,3,False,False,False,False,0,0,67,...,67,77,3,False,False,False,False,2,0,-1
68,68,0,3,False,False,False,False,0,0,68,...,68,77,7,False,False,False,False,2,1,-1
69,69,0,3,False,False,False,False,0,0,69,...,69,77,3,False,False,False,False,2,0,-1
70,70,0,3,False,False,False,False,0,0,70,...,70,77,7,False,False,False,False,2,1,-1

In [35]:
df1 = df[df.labels == -1]
df1 = df1.drop(columns=['labels'])

in_cols = []
for i in df1.columns:
    if int(i)%9 in [2, 3, 4, 5, 6, 7, 8]:
        in_cols.append(True)
    else:
        in_cols.append(False)

df1_ = df1.iloc[:, in_cols]
# df1_ = df1

ald = KMeans(n_clusters=2).fit(df1_)
df1_['labels'] = ald.labels_
df1_['labels'] = df1_['labels'].apply(lambda x: x + 1)
second_part_list = df1_['labels']
df1_

C:\Users\user\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
C:\Users\user\AppData\Local\Temp\ipykernel_9612\2874269267.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_['labels'] = ald.labels_
C:\Users\user\AppData\Local\Temp\ipykernel_9612\2874269267.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_['labels'] = df1_['labels'].apply(lambda x: x + 1)

,2,3,4,5,6,7,8,11,12,13,...,691,692,695,696,697,698,699,700,701,labels
6,4,False,False,False,False,0,0,4,True,False,...,2,0,3,False,False,False,False,2,0,2
7,0,False,False,False,False,0,0,0,True,False,...,0,1,7,False,False,False,False,0,1,1
8,4,False,False,False,False,0,0,4,True,False,...,2,0,3,False,False,False,False,2,0,2
9,0,False,False,False,False,0,0,0,True,False,...,0,1,7,False,False,False,False,0,1,1
10,4,False,False,False,False,0,0,4,True,False,...,2,0,3,False,False,False,False,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,9,False,False,True,False,0,0,0,False,False,...,0,2,9,False,False,False,False,0,2,1
67,3,False,False,False,False,0,0,4,True,False,...,2,0,3,False,False,False,False,2,0,2
68,3,False,False,False,False,0,0,0,True,False,...,2,1,7,False,False,False,False,2,1,1
69,3,False,False,False,False,0,0,4,True,False,...,2,0,3,False,False,False,False,2,0,2
70,3,False,False,False,False,0,0,0,True,False,...,2,1,7,False,False,False,False,2,1,1

In [36]:
for i in second_part_list.index:
    first_part_list[i] = second_part_list[i]
    
to_merge_df = pd.DataFrame()
to_merge_df['Row'] = df[0] + r
to_merge_df['labels'] = first_part_list

C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9612\1175081514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_part_list[i] = second_part_list[i]

In [37]:
to_merge_df = to_merge_df.set_index('Row')
to_merge_df

     labels
Row
20        2
21        1
22        2
23        1
24        2
..      ...
80        1
81        2
82        1
83        2
84        1

[65 rows x 1 columns]

In [38]:
str_type_list = []
names = list(new_df.columns)
r_i = names.index('Row') + 1
for row in new_df.itertuples():
    
    a = to_merge_df['labels'][row[r_i]] if row[r_i] in list(to_merge_df.index) else None
    str_type_list.append(a)
str_type_list

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 ...]

In [39]:
new_df['row_type'] = str_type_list
new_df['row_type'] = new_df['row_type'].fillna(-1)
new_df

,Unnamed: 0.1,Content,Start_content,Relative_Id,Type,Row,Column,Length,Vertically_merged,Horizontally_merged,Font_selection,Top_border,Bottom_border,Left_border,Right_border,Color,Font_color,Is_Formula,cluster_name,row_type
Unnamed: 0,,,,,,,,,,,,,,,,,,,,
0,0,NaN,NaN,1,NoneType,14,2,0,False,False,False,False,False,False,False,['00000000'],1,False,normal_empty,-1.0
1,1,NaN,NaN,2,NoneType,14,3,0,False,False,False,False,False,False,False,['00000000'],1,False,normal_empty,-1.0
2,2,План на сл. месяц,План на сл. месяц,3,str,14,4,17,True,False,True,True,False,True,False,[8],0,False,header,-1.0
3,3,Вид работ,Вид работ,4,str,14,5,9,True,False,True,True,True,True,True,[8],0,False,header,-1.0
4,4,Ед. изм.,Ед. изм.,5,str,14,6,8,True,False,True,True,True,True,True,[8],0,False,header,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5533,5533,0,0,4849,int,84,75,0,False,False,False,True,False,True,True,['FFFFFFFF'],0,False,NaN,1.0
5534,5534,0,0,4850,int,84,76,0,False,False,False,True,False,True,True,['FFFFFFFF'],0,False,NaN,1.0
5535,5535,0,0,4851,int,84,77,0,False,False,False,True,False,True,True,['FFFFFFFF'],0,False,NaN,1.0
5536,5536,0,0,4852,int,84,78,0,False,False,False,True,False,True,True,['FFFFFFFF'],0,False,NaN,1.0
5537,5537,0,0,4853,int,84,79,0,False,False,False,True,False,True,True,['FFFFFFFF'],0,False,NaN,1.0

In [40]:
new_df.to_csv('processed_tables/2_parsed.csv')