In [7]:
from documentor.types.excel.parser import SheetParser

In [8]:
parser = SheetParser()
doc = parser.from_file(path='data/start_tables/Global Hot List.xlsx', sheet_name='Hotlist - Identified ', first_cell='A5', last_cell='U75')
doc.to_df()

,Content,Start_content,Relative_Id,Type,Row,Column,Length,Vertically_merged,Horizontally_merged,Font_selection,Top_border,Bottom_border,Left_border,Right_border,Color,Font_color,Is_Formula
0,None,None,1,NoneType,5,1,0,False,False,False,False,False,False,False,[00000000],0,False
1,None,None,2,NoneType,5,2,0,False,False,False,False,False,False,False,[00000000],0,False
2,First Quarter 2001,First Quarter 2001,3,str,5,3,18,False,False,True,True,True,True,False,[00000000],21,False
3,None,None,4,NoneType,5,4,0,False,False,True,True,True,False,False,[00000000],21,False
4,None,None,5,NoneType,5,5,0,False,False,True,True,True,False,False,[00000000],21,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1486,74000,74000,1364,int,75,17,5,False,False,True,True,True,False,False,[22],21,True
1487,4,4,1365,int,75,18,1,False,False,True,True,True,False,True,[22],21,True
1488,TOTALS,TOTALS,1366,str,75,19,6,False,False,True,True,True,True,False,[22],21,False
1489,288340,288340,1367,int,75,20,6,False,False,True,True,True,False,False,[22],21,True
1490,55,55,1368,int,75,21,2,False,False,True,True,True,False,True,[22],21,True

In [9]:
parser.to_csv(doc, 'data/processed_tables/Global Hot List.csv', sep=",")